<launch>
	
	<!-- 启动底盘及激光雷达等驱动包 -->
        <include file="$(find xtark_driver)/launch/xtark_bringup.launch" />

        <!-- 启动USB摄像头驱动包 -->
        <include file="$(find xtark_driver)/launch/xtark_camera.launch"/>
        

	<!-- 启动hector建图算法包 -->
        <include file="$(find hector_mapping)/launch/mapping_default.launch"/>

	<!-- 启动APP相关接口服务 -->
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
        <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher"/>
        <arg name="debug" default="false"/>
        <node pkg="world_canvas_server" type="world_canvas_server" name="world_canvas_server" args="$(arg debug)">
                <param name="start_map_manager" value="true"/>
                <param name="auto_save_map" value="false"/>
        </node>
        <node pkg="world_canvas_server" type="map_manager.py" name="map_manager" />
 

</launch>
